body {
  background-image: url("../media/psst-background.jpeg");
  background-repeat: yes;
  background-size: 300px 300px;
}

.container {
  background-color: white;
  border: solid black 1px;
  margin-top: 20px;
  height: 75%;
  margin-bottom: 10px;
}

.col {
  border: solid black;
  margin: 10px;
  height: 200px;
}

.float-right {
  float: right;
}

#edit-icon {
  position: relative;
  height: 15px;
  width: auto;
  float: right;
  top: 3px;
}

#delete-icon {
  position: relative;
  float: right;
  height: 15px;
  width: auto;
  top: 3px;
  margin-right: 75px;
}

ul {
  list-style-type: none;
}

li {
  margin-left: -45px;
}

button {
  margin-bottom: 10px;
}